html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@font-face {
    font-family: 'Digital7';
    src: url('/Fonts/digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Digital7 {
    font-family: 'Digital7', sans-serif;
    font-size: 1.2em;
    color: black;
    font-weight:500;
    letter-spacing:3px;
}