@model DataAccessLayer.Models.ViewModel.ErrVM

<h1>Something Went Wrong</h1>
<hr />
<h3>Error Message: @Model.Msg</h3>
<hr />
<p>Custom Message: @Model.CustomMsg</p>
<hr />
<p>Stack Trace: @Model.StackTrace</p>
<p>Go to home page <a class="btn btn-outline-danger" href="@Url.Action("Index", "Home")">Home</a></p>
<p>For any queries, mail us at <a href="mailto:ceo@pms.com">ceo@pms.com</a></p>