@model DataAccessLayer.Models.Entity.Feature
@using static DataAccessLayer.Enums.Priority
@using static DataAccessLayer.Enums.Status

@{
    ViewData["Title"] = "Feature-Edit";
}

<h1 class="text-center">Update Feature</h1>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="EstimatedPoint" class="control-label"></label>
                <input type="number" asp-for="EstimatedPoint" class="form-control" />
                <span asp-validation-for="EstimatedPoint" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ReleaseId" class="control-label">Release</label>
                <select asp-for="@Model.ReleaseId" class="form-control btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Releases">
                    <option value="">-- Select Release --</option>
                </select>
                <span asp-validation-for="ReleaseId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="MemberId" class="control-label">Member</label>
                <select asp-for="@Model.MemberId" class="form-control btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Members">
                    <option value="">-- Select Member --</option>
                </select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>

            <div class="form-group mt-3 d-flex justify-content-center">
                <input type="button" onclick="submitForm()" value="Update" class="btn btn-success w-50" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-5 ">
    <a class="btn btn-outline-danger w-25" asp-action="GetAll">Back to Release</a>
</div>

@section Scripts {

    <script>
        function submitForm() {
            var form = $('#editForm');
            var formData = new FormData(form[0]);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit", "Feature")',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    window.location.href = '@Url.Action("GetAll", "Feature")';
                },
                error: function (error) {
                    alert('An error occurred: ' + error);
                }
            });
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
