@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PMS</h1>
    @if(TempData["welcomeMessage"] != null)
    {
        <h2>@TempData["welcomeMessage"]</h2>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
