@{
	ViewData["Title"] = "Settings-PMS";
	ViewData["Banner"] = "Settings";
}

<div class="mb-4 col-4 ">
	<a class="btn  w-50 shadow" style="background-color:aliceblue; " asp-area="" asp-controller="Status" asp-action="Index"><b>Status</b></a>
</div>
<div class="mb-4 col-4 ">
	<a class="btn  w-50 shadow" style="background-color:aliceblue;" asp-area="" asp-controller="Priority" asp-action="Index"><b>Priority</b></a>
</div>
<div class="mb-4 col-4 ">
	<a class="btn  w-50 shadow" style="background-color:aliceblue;" asp-area="" asp-controller="Category" asp-action="Index"><b>Category</b></a>
</div>
<div class="mb-4 col-4 ">
	<a class="btn  w-50 shadow" style="background-color:aliceblue;" asp-area="" asp-controller="TimeTrack" asp-action="DisableButtonTimer"><b>Category</b></a>
</div>